.container{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0 rgb(32, 33, 36,1),
                -1px -1px 3px 0 rgb(32, 33, 36,1);
    border-radius: 1rem;
    text-align: center;
   background-color: black;
    padding: 1rem;
    color: white;
   
}
h1{
  font-size: 30px;
 
}
.btn{
    
    padding: 0;
    width: 200px;
    height: 30px;
    margin:  20px 0 0 0;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(32, 164, 168);
    font-family: fantasy;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
}
